body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #667eea, #764ba2);
    font-family: Arial, sans-serif;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 2vh 7vh 5vh 5vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

.form-container input:focus {
    border-color: #764ba2;
    box-shadow: 0 0 5px #764ba2;
}

.form-container a {
    display: block;
    text-align: right;
    margin: 10px 0;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.form-container button {
    width: 34vh;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container .view-table-students {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}



